PORT=5000
DATABASE_URL=your-database-url
REDIS_URL=redis-database-url

SOCKET_SERVER_URL="http://localhost:5000" // No Need in production
CLIENT_URL="http://localhost:3000" //No need in production

BETTER_AUTH_SECRET=your-auth-secret
BETTER_AUTH_URL=http://localhost:3000

#STORAGE_PROVIDER=cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


STORAGE_PROVIDER=appwrite
APPWRITE_ENDPOINT=https://<your-appwrite-endpoint>/v1
APPWRITE_PROJECT_ID=your-project-name
APPWRITE_API_KEY=appwrite-api-key
APPWRITE_BUCKET_ID=upload